.footer {
    flex-shrink: 0;
    height: 50px;
    background-color: #134c7d;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

body {
    background-color: #e6f9ff;
    margin: auto;
}

#page_header {
    background-image: url("../images/image-header.jpg");
    padding-top: 100px;
    padding-bottom: 200px;
}

#title_header {
    margin-right: 50px;
    font-family: "Trebuchet MS", sans-serif;
    color: yellow;
    text-shadow: black 0px 0px 2px;
    font-size: 40px;
}