/*
****** Footer elements ******
*/

.footer {
    margin: 10px 0px;
    flex-shrink: 0;
    height: 50px;
    background-color: #134c7d;
    line-height: 50px;
    text-align: center;
    color: #fff;
}


/*
****** Main body elements ******
*/

body {
    background-color: #e6f9ff;
    margin: auto;
}

#div_empty_button {
    text-align: center;
    margin: 20px 0px;
}


/*
****** Nav menu elements ******
*/

.nav_band_style {
    background-color: #ecd8c6;
    width: 100%;
    padding: 15px 0px;
    margin: auto;
}

.right_nav_container {
    margin: 0px 15px;
    text-align: right;
    width: 50%;
    display: inline-block;
}

.left_nav_container {
    margin: 0px 15px;
    text-align: left;
    width: 45%;
    display: inline-block;
}

.welcome_message {
    margin: 0px 100px;
    text-align: right;
    font-size: 30px;
    text-shadow: black 0px 0px 2px;
    color: #f0f0f5;
}

nav a {
    font-family: Arial;
    margin: 0px 50px;
    text-decoration: none;
    font-size: 30px;
    text-shadow: black 0px 0px 2px;
    color: #f0f0f5;
}


/* Remove a tag border on click. */

a:active,
a:focus {
    outline: none;
    border: none;
}

nav a:hover {
    color: #ff99bb;
    transition: 0.3s;
}


/*
****** Header elements ******
*/

#page_header {
    background-image: url("../images/image-header.jpg");
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: right;
}

#title_header {
    text-decoration: none;
    margin-right: 50px;
    font-family: "Trebuchet MS", sans-serif;
    color: white;
    text-shadow: black 0px 0px 2px;
    font-size: 40px;
    margin: 0px 100px;
}


/*
****** Search elements ******
*/

#search_form {
    display: inline;
    margin: 0px;
    padding: 0px;
}

#search_input {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

#search_button {
    padding: 10px 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


/*
****** Authentification elements ******
*/

.auth_input_container {
    padding: 3% 0px;
    margin: 100px 30%;
    text-align: center;
    border-radius: 10px;
    color: white;
    border: 2px solid #003d4d;
    background-color: #134c7d;
}

.auth_form {
    display: inline;
}

.auth_block {
    margin: 15px 0px;
}

.auth_button {
    background-color: #309900;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 10px;
}

.auth_create_acc {
    text-decoration: none;
    color: sandybrown;
}

#auth_error_div {
    font-size: 20px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black 0px 0px 1px;
    font-weight: bold;
}

.produse {
    text-align: center;
}

#produs {
    display: inline-block;
    text-align: center;
    width: 30%;
    background-color: #134c7d;
    border: 2px solid #003d4d;
    text-shadow: black 0px 0px 1px;
    color: white;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
}