<% if(utilizator==null) {%>
    <div class="auth_input_container">
        <form class="auth_form" action="/login-check" method="post">
            <div class="auth_block">
                <label>Utilizator:</label>
                <input type="text" placeholder="Introduceti utilizatorul" name="nume_utilizator" required>
            </div>
            <div class="auth_block">
                <label>Parolă:</label>
                <input type="password" placeholder="Introduceti parola" name="parola_utilizator" required>
            </div>
            <div class="auth_block">
                <input class="auth_button" id="buton_autentificare" onmouseout="mouseOutAuthButton()" onmouseover="mouseHoverAuthButton()" type="submit" value="Autentificare">
            </div>
        </form>
        <div class="auth_block">
            <a class="auth_button" href="/parola-uitata">Am uitat parola</a>
        </div>
        <div>
            <p>Pentru crearea unui cont nou apasati <a href="/cont-nou" class="auth_create_acc">aici</a>.</p>
        </div>
        <% if(mesajEroare!=null) {%>
            <div id="auth_error_div">
                <p>
                    <%- mesajEroare %>
                </p>
            </div>
            <% } %>
    </div>
    <% }else{%>
        <div class="auth_input_container">
            <div class="auth_block">
                <p>Logat ca
                    <%- utilizator %>.</p>
                <form class="auth_form" action="/logout" method="post">
                    <button class="auth_button" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <% } %>