<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazin alimentar online</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body>

    <header id="page_header">
        <a href="/" id="title_header">Magazin alimentar - marketplace</a>
    </header>

    <nav class="nav_band_style">
        <div class="left_nav_container">
            <a href="">Categorii</a>
            <form action="/search-function" id="search_form" method="POST">
                <input id="search_input" type="text" placeholder="Căutare după nume.." name="search">
                <button id="search_button" type="submit">Caută</i></button>
            </form>
        </div>
        <div class="right_nav_container">
            <a href="/lista">Listă</a>
            <a href="/cont">Cont</a>
            <a href="/cos-cumparaturi">Coş cumparaturi</a>
        </div>
    </nav>

    <% if(nume!=null) {%>
        <div class="nav_band_style">
            <p class="welcome_message">Bine aţi venit,
                <%- nume %>!</p>
        </div>
        <% } %>

            <main>
                <%- body -%>
            </main>

            <footer class="footer">
                &copy;Programare web - Magazin alimentar - Strilciuc Gabriel
            </footer>

</body>

</html>