<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <meta charset="utf-8" />
    <title>Magazin alimentar online</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>

    <header id="page_header">
        <p id="title_header">Magazin alimentar - marketplace</p>
    </header>

    <nav>

    </nav>

    <main>
        <%- body -%>
    </main>

    <footer class="footer">
        &copy;Programare web - Magazin alimentar - Strilciuc Gabriel
    </footer>

</body>

</html>