<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <meta charset="utf-8" />
    <title>Magazin alimentar online</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>

    <header id="page_header">
        <a href="/" id="title_header">Magazin alimentar - marketplace</a>
    </header>

    <nav>
        <div class="left_nav_container">
            <a href="">Categorii</a>
            <form action="" id="search_form">
                <input id="search_input" type="text" placeholder="Search.." name="search">
                <button id="search_button" type="submit">Caută</i></button>
            </form>
        </div>
        <div class="right_nav_container">
            <a href="/lista">Listă</a>
            <a href="/cont">Cont</a>
            <a href="/cos-cumparaturi">Coş cumparaturi</a>
        </div>
    </nav>

    <main>
        <%- body -%>
    </main>

    <footer class="footer">
        &copy;Programare web - Magazin alimentar - Strilciuc Gabriel
    </footer>

</body>

</html>