<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <meta charset="utf-8" />
    <title>Marketplace</title>
</head>

<body>
    <header id="page_header">
        <p>Cărţi online</p>
    </header>

    <nav>

    </nav>

    <main>
        <%- body -%>
    </main>

    <footer id="page_footer">
        &copy;Programare web - Strilciuc Gabriel
    </footer>

</body>

</html>