<div class="auth_input_container">
    <form class="auth_form" action="/pass-forgot-check" method="post">
        <div class="auth_block">
            <label>Utilizator:</label>
            <input type="text" placeholder="Introduceţi username-ul" name="username" required>
        </div>
        <div class="auth_block">
            <button class="auth_button" type="submit">Căutare parolă</button>
        </div>
    </form>
</div>